- const cartHeaders = [ 'Stt', 'Sản phẩm', 'Thông tin', 'Đơn giá', 'Số lượng', 'Thành tiền', 'Xoá' ]

- const cartItems = [ { id: 1, image: "../../assets/images/png/yellow-blackdecker.png", name: "Máy khoan cắt đa năng CNC", price: "2.350.000 Đ", quantity: 1 }, { id: 2, image: "../../assets/images/png/green-blackdecker.png", name: "Máy khoan cắt đa năng CNC", price: "2.350.000 Đ", quantity: 1 }, { id: 3, image: "../../assets/images/png/red-blackdecker.png", name: "Máy khoan cắt đa năng CNC", price: "2.350.000 Đ", quantity: 1 } ]

- const buttonsCart = [ { text: 'Tiếp tục mua hàng', link: '/category.html', class: 'btn-dark' }, { text: 'Thanh toán', link: '#', class: 'btn-warning' } ]

- const cartPayment = [ { label: "Tổng tiền", value: "6.850.000 Đ" }, { label: "Thuế(VAT)", value: "670.000 Đ" }, { label: "Thanh toán", value: "7.520.000 Đ" } ]
