//- banner
- var banners = [ { icon: 'airplane-fill.svg', title: 'Miễn phí vận chuyển', content: 'Chúng tôi vận chuyển miễn phí với đơn hàng trị giá trên 1.000.000 đ.', }, { icon: 'arrow-repeat.svg', title: 'Chính sách đổi trả', content: 'Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên.', }, { icon: 'gift-fill.svg', title: 'Khuyến mãi hàng tuần', content: 'Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn.', }, { icon: 'hand-thumbs-up-fill.svg', title: 'Cam kết chính hãng', content: 'Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm.', }, ];

//- category list
- var categoryList = ['Máy khoan, cắt CNC', 'Máy quét Canon 3D', 'Máy hàn điện Alunima', 'Máy khoan Decameta', 'Máy phay đa năng CNC', 'Máy mài, tiện DC 12V', 'Máy khoan, cắt CNC', 'Máy quay thông minh N3', 'Môtr R34C đa dụng', 'Máy in laser màu 3D']

//- featured product
- const productsFeaturedData = [ { price: '2.000.000', title: 'Máy khoan Green Decker', image: '../../../assets/images/png/green-blackdecker.png' }, { price: '3.200.000', title: 'Máy khoan Red Decker', image: '../../../assets/images/png/red-blackdecker.png' }, { price: '1.800.000', title: 'Máy khoan Yellow Decker', image: '../../../assets/images/png/yellow-blackdecker.png' }, { price: '2.000.000', title: 'Máy khoan Green Decker', image: '../../../assets/images/png/green-blackdecker.png' }, { price: '3.200.000', title: 'Máy khoan Red Decker', image: '../../../assets/images/png/red-blackdecker.png' }, { price: '1.800.000', title: 'Máy khoan Yellow Decker', image: '../../../assets/images/png/yellow-blackdecker.png' } ]

//- Latest product
- const productsData = [ { price: '2.000.000', title: 'Máy khoan Green Decker', image: '../../../assets/images/png/green-blackdecker.png' }, { price: '3.200.000', title: 'Máy khoan Red Decker', image: '../../../assets/images/png/red-blackdecker.png' }, { price: '1.800.000', title: 'Máy khoan Yellow Decker', image: '../../../assets/images/png/yellow-blackdecker.png' } ]
- const bannerLatestProduct = [ { image: '../../../assets/images/png/banner1.png', alt: 'banner 1' }, { image: '../../../assets/images/png/banner2.png', alt: 'banner 2' } ]

//- new product
- const productsNew = [ { price: '2.000.000', title: 'Máy khoan Green Decker', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua', image: '../../../assets/images/png/green-blackdecker.png' }, { price: '3.200.000', title: 'Máy khoan Red Decker', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua', image: '../../../assets/images/png/red-blackdecker.png' }, { price: '1.800.000', title: 'Máy khoan Yellow Decker', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua', image: '../../../assets/images/png/yellow-blackdecker.png' }, { price: '2.000.000', title: 'Máy khoan Green Decker', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua', image: '../../../assets/images/png/green-blackdecker.png' } ]

//- selling product
- const productsSellingLeftData = [ { price: '2.000.000', title: 'Máy khoan Green Decker', image: '../../../assets/images/png/green-blackdecker.png' }, { price: '3.200.000', title: 'Máy khoan Red Decker', image: '../../../assets/images/png/red-blackdecker.png' } ]
- const productSellingBetweenData = { price: '1.800.000', title: 'Máy khoan Yellow Decker', image: '../../../assets/images/png/yellow-blackdecker.png' };
- const productsSellingRightData = [ { price: '2.000.000', title: 'Máy khoan Green Decker', image: '../../../assets/images/png/green-blackdecker.png' }, { price: '3.200.000', title: 'Máy khoan Red Decker', image: '../../../assets/images/png/red-blackdecker.png' }]
- const productSellingRocket = { title: 'Rocket Wokaru', content: 'Máy cắt, khoan đa năng tích hơp điều khiển từ xa loại nhỏ thích hợp với các hộ gia đình ', image: '../../../../assets/images/png/maykhoan.png', alt:"máy khoan rocket" };

- const buttonsDetail = [ { text: 'Mua ngay', link: '/cart.html', class: 'btn-warning' }, { text: 'Xem chi tiết', link: '/detail-product.html', class: 'btn-dark' } ]
