extends ../layouts/default-layout.pug

block head 
  - var title = 'Page not found'
  title=title

block content 
  .container.mt-5.mb-5
    .d-flex.justify-content-around
      .error.d-flex.justify-content-center.flex-column.text-center
        h1.display-1.fw-bold.text-warning 404 ERROR 
        p.mb-0 Chúng tôi không tìm thấy kết quả nào phù hợp với tìm kiếm của bạn
        p Xin vui lòng trở về trang chủ
        .button 
          +button('Trang chủ', '/', 'btn-dark')

      .w-25.d-sm-block.d-none
        img.w-100(src="../../assets/images/png/layer-46.png" alt="green-blackdecker")
