mixin cardBlogDetail(post)
  .d-flex.flex-column.align-items-center
    img.w-75(src=post.image alt="Card image cap")
    .m-3.mx-0
      h2.fs-4.card-title.text-uppercase.fw-bold= post.title
      p.mb-4.card-text= post.content
