mixin selectOption(title, options)
  .d-flex.text-center.align-items-center
    if title !== ""
      label.me-2= title
      | :
    select.form-select.form-select-lg.w-auto(aria-label=".form-select-lg example")
      each option, index in options
        if index === 0
          option(selected value=option.value)=option.title
        else
          option(value=option.value)=option.title
