mixin repost
  .repost.mt-5.d-flex.flex-column.align-items-center.justify-content-center
    p.text-light.fs-5 Đăng kí để nhận tin tức khuyến mại hàng tuần 
    form.w-75.d-flex.align-items-center.justify-content-center(action="#" ) 
      input.repost__input.me-3(placeholder="Nhập email của bạn...")
      button.repost__button.px-4.p-2.btn.btn-warning(type="submit") Đăng kí
